 @media screen and (max-width:768px) {
      main {
         width: 100%;
     }
 /* header*/
    header {
    width: 100%;
    flex-direction: column;
    align-items:flex-start;
    position: relative;
    padding: 0px;
    
   }
    #logo img {
    margin:15px 0px 0px 15px;
    }
    /*navbar*/
    #sign_up {
        position: absolute;
        top: 0px;
        right: 0px;
        
    }
    nav {
        width:100%;
    }
    nav ul {
        width: 100%;
        padding-left: 0px;
    }
    #lodging, #activity {
        width: 50%;
        border-top: none;
       border-bottom: 3px solid #F2F2F2;
       text-align: center;
    }
    
    #lodging:hover, #activity:hover {
        border-top: none;
        border-bottom: 3px solid #0065fc;
    }
    #lodging a:hover, #activity a:hover {
        border-top: none;
    }

    /* Partie filtres*/
    #search {
        padding-left: 5px;
    }
    #search h1{
        margin: 30px 15px 10px 15px;
    }
    #search_town {
        margin-left: 10px;
    }
    #search_town .research_town {
       display: none;
    }
    .searchIcon {
        visibility: visible;
        border: none;
        border-radius: 10px;
        background-color: #0065fc;
        color: #ffff;
        width: 40px;
        margin-left: -10px;
    }
    .searchIcon:hover {
        cursor: pointer;
    }
    #filters {
        width: 95%;
    flex-direction: column;
     align-items: flex-start;
    }
    #filters h2 {
        font-size: 20px
    }
    #filters ul {
        flex-wrap: wrap;
        align-items: flex-start;
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

    .icons_filters {
         margin: 10px;
        padding:0px;
        padding-right: 10px;
    }
    #info {
        margin: 20px 0px;
    }
    #info p {
        margin: 0px 30px 0px 10px;
    }
    /*partie hébergement*/
    #card_content {
        width: 100%;
        height: auto;
        flex-direction:column;
        margin: 0px;
    }
    #card_location {
        width: 98%;
        height: auto;
        background-color: #ffff;
        order: 2;
        
    }
    #card_location h2 {
        margin: 40px 0px 0px 20px;
        font-size: 20px;
    }
    #location_content {
        width: auto;
        margin: 0px;
    }

    #first_locations, #second_locations {
        width: auto;
        margin: 0px 0px 0px 10px;
        flex-direction: column;
        padding-right: 30px;
    }
    .location, .locations {
        border-radius: 30px;
         box-shadow: 3px 3px 3px #F2F2F2;
        width: 100%;
        margin-top: 15px;
        margin-left: 5px;
        font-size: 15px;
        padding-right: 10px;
        
    }
    .location img, .locations img {
        width: 100%;
        border-radius: 30px 30px 0px 0px;
    }
    .lodging_infos {
        width: 100%;
        margin-left: 0px;
        padding-left: 15px;
        border-radius: 0px 0px 30px 30px;
    }
    
    #show_more {
        font-size: 20px;
        font-weight: 800;
        margin-left: 0px; 
        padding-left: 20px;
    }
    /*Partie les plus populaires*/
    #most_popular {
        order: 1;
        width: 100%;
        height: auto;
        border-radius: 0px;
        margin-left: 0px;
    }
    #card_popular {
        width: 100%;
    }
    #popular_title {
        padding-left: 20px;
    }
    .popular_location {
        width: 90%;
        height: 140px;
        margin: 15px;
        border-radius: 20px;
        
    }
    .popular_location img {
        width: 30%;
        height: auto;
        margin-left: 5px;
        
    }
    .info_popular {
        margin: 0px 20px;
    }
    .info_popular h3 {
        margin-right: 20px;
        font-size: 16px;
        margin-top: 10px;
        
    }
    .info_popular p {
        margin-bottom: 0px;
        font-size: 14px;
    }
    .stars {
        
        margin-top: 40px;
    }
    /*partie activités*/
    #activity_content {
        width: 95%;
        margin: auto;
    }
    #activity_content h2{
        margin: 0px 0px 0px 20px;
    }
    #activity_card {
        width: 100%;
        flex-direction: column;
    }
    .block_card1 .landscape img, .block_card2 .landscape img , .block_card1 .portrait1 img, 
    .block_card1 .portrait2 img ,.block_card2 .portrait2 img, .block_card2 .portrait1 img{
        width: 100%;
        height: 150px;
        border-radius: 30px 30px 0px 0px;
        margin: 0px;
    }
    .landscape, .block_card1 .portrait1, .block_card1 .portrait2,
    .block_card2 .portrait1, .block_card2 .portrait2
     {
        width: 90%;
        height: 200px;
        border-radius: 30px;
        box-shadow: 5px 5px 5px #F2F2F2;
        margin: 12px;

    }
    .portrait {
        width: 100%;
        margin-left: 0px;
    }

    .block_card1, .block_card2 {
        width: 100%;
        flex-direction: column;
        margin: 0px;
    }
    #activity_card h3 {
        margin: 5px 0px 0px 10px;
    }
    /*footer*/
    footer {
        flex-direction: column;
        height: 450px;
        width:100%;
    }
    .footer_infos {
        width: auto;
        margin-left: 15px;
    }
}
/*media querie max-width 1024px*/
@media  screen  and (min-width: 769px) and (max-width: 1024px) {
    #card_content {
        width: 100%;
        margin: 0px;
        flex-direction: column-reverse;
    }
    /*partie les plus populaires*/
    #most_popular {
        
        width: 100%;
        height: auto;
        margin: 15px 30px 15px 0px;
    }
    #card_popular {
        display: flex;
    }
    .popular_location {
        width: 100%;
        margin: 15px;
    }
    .popular_location img {
        width: 35%;
        height: auto;
        margin: 10px;
    }
    .info_popular {
        margin-left: 0px;
    }
    .stars {
        margin: 70px 0px 0px;
    }
    /*partie hébergements*/
    #card_location {
        
        width: 100%;
    }
    /*partie activités*/
    #activity_card {
        flex-direction: column;
    }
    .block_card1 .landscape img, .block_card2 .landscape img , .block_card1 .portrait1 img, .block_card1 .portrait2 img ,.block_card2 .portrait2 img, .block_card2 .portrait1 img{
        width: 100%;
        
    }
    
    .block_card1, .block_card2 {
        margin: 15px 0px 0px ;
    }

    .landscape {
        height: 550px;
    }
    
    .block_card1 .portrait, .block_card2 .portrait {
        width: 90%;
        height: 100%;
        align-items: center;
       
    }

    .block_card1 .portrait1 {
        width: 85%;
        margin: 0px 20px 30px;
        
    }

    .block_card1 .portrait2 {
        width: 85%;
        margin: 25px 60px 0px;
        

    }
    .block_card2 .landscape {
        width: 70%;
    }

    .block_card2 .portrait1 {
        width: 85%;
        margin-bottom: 30px;
    }

    .block_card2 .portrait2 {
        width: 85%;
        margin-top: 60px;
    }
}   
@media  screen and (max-width: 320px) {
   /*partie populaire*/
   .info_popular {
       margin-left: 15px;
   }
    .info_popular h3 {
        font-size: 14px;
        margin-top: 10px;
        
    }
    .stars {
        margin-top: 45px;
    }
    /*partie activités*/
    .block_card1 .landscape img, .block_card2 .landscape img , .block_card1 .portrait1 img, 
    .block_card1 .portrait2 img ,.block_card2 .portrait2 img, .block_card2 .portrait1 img{
        width: 100%;
        height: 150px;
        border-radius: 30px 30px 0px 0px;
        margin: 0px;
    }
    .landscape, .block_card1 .portrait1, .block_card1 .portrait2,
    .block_card2 .portrait1, .block_card2 .portrait2
     {
        width: 90%;
        height: 200px;
        border-radius: 30px;
        box-shadow: 5px 5px 5px #F2F2F2;
        margin: 10px;

    }
    .portrait {
        width: 100%;
    }
}
@media  screen and (min-width: 425px) and (max-width:500px) {
    .popular_location {
        width: 80%;
        margin: 15px 0px 15px 30px;
    }
    .portrait {
        width: 100%;
    }
}


