@media screen and (max-device-width: 1440px) {
    /*header*/
    header {
        width: 95%;
    }
    /*partie hébergement*/
    #card_content {
       width: 100%;
       margin-left: 10px;
       
    }
    #card_location {
       width: 50%;
        height: 600px;
        margin-right:20px;
    }
   #location_content {
     width: 100%;
   }
    #first_locations, #second_locations {
        width: auto;
        margin: 0px 10px 10px;
     }
    .location, .locations {
        width: auto;
        height: auto;
        margin: 5px 5px 10px;
    }
    .location img, .locations img {
        width: 95%;
        height: 100px;
    }
    
    .lodging_infos h3 {
        font-size: 14px;
    }
    #show_more {
        margin: 0px;
    }
    /*partie les plus populaires*/
    #most_popular {
        width: 35%;
        height: 600px;
        margin-right: 20px;
        margin-left: 0px;
    }
    #card_popular {
        width: 100%;
    }
    .popular_location {
        width: 95%;
        height: 130px;
        margin: 5px 10px 30px;
    }
    .popular_location img {
        width: 35%;
        height: 120px;
    }
    .info_popular {
        margin-left: 10px;
    }
    .info_popular h3{
        margin: 10px 0px;
    }
    /*partie activités*/
    #activity_content {
        width: 100%;
    }
    #activity_card {
        width: 100%;
        flex-direction: column;
    }
    .block_card1, .block_card2 {
        width: 100%;
    }
    .block_card1 .landscape, .block_card1 .portrait, .block_card2 .landscape, .block_card2 .portrait {
        width: 50%;
    }
    .block_card1 .landscape img, .block_card2 .landscape img {
        width: 100%;
    }
    
}