@media all and (max-device-width: 768px) {
    
    /* header*/
    header {
        width: auto;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        padding-left: 10px;
       
    }
    #logo img {
        margin-top:15px ;
    }
    #sign_up {
        position: absolute;
        top: 0px;
        right: 0px;
    }
    nav ul {
        width: 100%;
        padding-left: 0px;
    }
    #lodging {
        padding: 30px 0px 10px 30px;
    }
    #lodging a {
        border-top: none;
        border-bottom: 3px solid #0065fc;
        padding-bottom: 10px;
    }
    #activity {
    
        border-bottom: 3px solid #F2F2F2;
        padding: 30px 40px 10px ;
        margin-left: 10px;
    }
    /* Partie filtres*/
    #search {
        padding: 10px;
    }
    #search_town .research_town {
        display: none;
     }
     .searchIcon {
         visibility: visible;
         border: none;
         border-radius: 10px;
         background-color: #0065fc;
         color: #ffff;
         width: 40px;
         
     }
    #search h1{
        margin: 30px 15px 10px 15px;
    }
     #filters {
       flex-direction: column;
       flex-wrap: wrap;
        align-items: flex-start;
        position: relative;
    }
    #filters h2 {
        font-size: 20px
    }
    #filters ul {
        flex-direction: column;
        margin: 0px;
        padding: 0px;
    }
    #filters li {
        margin: 10px;
    }
    #icon_family {
        position: absolute;
        right: 30px;
    }
    #info {
        margin: 20px 0px;

    }
    #info p {
        margin: 0px 30px 0px 10px;
    }
     /*partie hébergement*/
    #card_content {
        width: 100%;
        flex-direction: column;
        margin: auto;
    }
    #card_location {
        background-color: #ffff;
        margin: auto;
        order: 2;
        flex-wrap: wrap;
    }
    #card_location h2 {
        margin: 40px 0px 0px 40px 
    }
    #first_locations {
        margin-bottom: 0px;
    }
    #first_locations, #second_locations {
        flex-direction: column;
        margin-left: 15px;
    }
    .location, .locations {
        border-radius: 30px;
        box-shadow: 5px 5px 5px #F2F2F2;
        width: 360px;
        margin: 10px;
        font-size: 15px;
        
    }
    .location img, .locations img {
        width: 350px;
      margin: 5px;
      border-radius: 30px 30px 0px 0px;
    }
    .lodging_infos {
        margin-left: 20px;
    }
    #show_more {
        font-size: 20px;
        font-weight: 800;
        
    }
    /*Partie les plus populaires*/
    #most_popular {
        order: 1;
        width: 435px;
        border-radius: 0px;
        flex-wrap: wrap;
    }
    .popular_location {
        margin: 25px 25px;
        border-radius: 20px;
        width: 380px;
    }
    .popular_location img {
        width: 150px;
    }
    .info_popular {
        margin: 0px 15px;
    }
    .info_popular i {
        margin-top: 10px;
    }
    /*partie activités*/
    #actibity_content {
        flex-wrap: wrap;
    }
    #activity_content h2{
        margin-left: 30px;
    }
    #activity_card {
        flex-direction: column;
        
    }
    #activity_card .landscape img, .block_card1 .portrait1 img, .block_card1 .portrait2 img ,.block_card2 .portrait2 img, .block_card2 .portrait1 img{
        width: 340px;
        height: 150px;
        border-radius: 30px 30px 0px 0px;
        margin-left: 10px;
        
    }
    #activity_card .landscape, .block_card1 .portrait1, .block_card1 .portrait2, .block_card2 .portrait2, .block_card2 .portrait1{
        border-radius: 30px;
        box-shadow: 5px 5px 5px #F2F2F2;
        width: 350px;
        height: 200px;
        margin: 15px;
    }
    
    .block_card1, .block_card2 {
        justify-content: center;
        flex-direction: column;
        margin-left: 15px;
    }
    #activity_card h3 {
        margin: 10px 20px;
    }
    /*footer*/
    footer {
        flex-direction: column;
        height: 450px;
        width:100%;
    }
    
}