/*Element général*/

body{
     margin: 0px;
    font-family: "Raleway", sans-serif ;
}

/*En tête de la page (header)*/

header {
    width: 98%;
    max-width: 1200px;
    margin: auto;
    display: flex;  
    justify-content: space-between;
    align-items: center;
}
/*logo du site*/
#logo img {
    margin-left: 15px;
}
/*Menu de navigation*/
nav {
    display: flex;
    
}
nav ul{
    display: flex;
    margin-top: 2px;
    
}
nav li {   
    padding: 30px;
    list-style: none;
}
#lodging a, #activity a, #sign_up a {
    font-size: 15px;
    
}
#lodging a, #sign_up a {
    color: #0065fc;
    text-decoration: none;
}
#lodging a {
    border-top: 5px solid #0065fc;
    padding-top: 30px;
    
}
#activity a {
    color: #000;
    text-decoration: none;
}

#activity a:hover {
    border-top: #0065fc 3px solid;
    padding-top: 30px;
}
#sign_up a {
    font-weight: 600;
}




/*Footer*/
footer{
    background-color: #F2F2F2;
    height: 200px; 
    display: flex;
    justify-content: space-around;
    
    
}

.footer_infos {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
         
}
footer a {
    color: #000;
    font-weight: 500;
    text-decoration: none;
    padding: 5px;

}

footer a:hover {
    text-decoration: underline;
}