/*Element général*/

body{
     margin: 0px;
    font-family: "Raleway", sans-serif ;
}

/*En tête de la page (header)*/

header {
    max-width: 1200px;
    margin: auto;
    display: flex;  
    justify-content: space-between;
    align-items: center;
}
/*logo du site*/
#logo img {
    margin-left: 15px;
}
/*Menu de navigation*/
nav {
    display: flex;
}

nav ul{
    display: flex;
    margin-top: 2px;
}

nav li {   
    padding: 30px;
    list-style: none;
}
#lodging a, #activity a, #sign_up a {
    font-size: 15px;
    
}
#lodging a, #sign_up a {
    color: #0065fc;
    text-decoration: none;
}
#lodging a {
    border-top: 5px solid #0065fc;
    padding-top: 30px;
    
}
#activity a {
    color: #000;
    text-decoration: none;
}

#activity a:hover {
    border-top: #0065fc 3px solid;
    padding-top: 30px;
    
}

#sign_up a {
    font-weight: 600;
}

/*Section recherche et filtres , partie recherche*/
#search, #search p {
    width: 98%;
    max-width: 1200px;
    margin: auto;
}

#search h1 {
    margin-left: 15px;
    margin-bottom: 5px;
}

#search p {
    margin-left: 15px;
}

#search_town{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    
}
#search_town i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    width: 40px;
    height: 40px;
    margin-right: 0px;
    
}

#search_town #town {
    border: none;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    
}
#search_town ::placeholder {
    font-weight: 800;
    color: #000;
    padding-left: 10px;
}
#search_town #research {
    display: flex;
    align-items: center;
     border: none;
    background-color: #0065fc;
    border-radius: 0px 15px 15px 0px;
    color: #ffff;
    font-weight: 600;
    padding: 10px;
}
#research:hover {
    cursor: pointer;
    
}



/* partie filtres*/
#filters {
    display: flex;
    align-items: center;
    
}
#filters h2 {
    font-size: 15px;
    margin-left: 15px;
}

#filter_ul{
    display: flex;
    padding-left: 25px;
}
 
.icons_filters i {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #0065fc;
    background-color: #deebff;
    width: 40px;
    height: 40px;
   margin-right: 10px;
}
.icons_filters {
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 30px 30px 30px 30px;
    margin-right: 25px;
    list-style: none;
    font-size: 16px;
    font-weight: 700;
    padding: 0px 15px 0px 0px;
}
/*animation filtres*/
.icons_filters:hover {
    cursor: pointer;
    background-color: #deebff;
    transition-duration: 0.25s;
}
.icons_filters:hover i {
    background-color: #ffff;
    
}
/*
Partie info*/
#info {
    display: flex;
}

#info i {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #F2F2F2;
    border-radius: 20px 20px 20px 20px ;
    width: 20px;
    height: 20px;
    margin-left: 15px;
    color: #0065fc;
    font-size: 13px;
}

#info p {
   font-size: 14px;
   font-weight: 500;
   }
/*Partie hébergements*/





/*Footer*/
footer{
    background-color: #F2F2F2;
    height: 200px; 
    display: flex;
    justify-content: space-around;
    
    
}

.footer_infos {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
         
}
footer a {
    color: #000;
    font-weight: 500;
    text-decoration: none;
    padding: 5px;

}

footer a:hover {
    text-decoration: underline;
}